.btn-icon {
	img {
		background-color: transparent;
		border-radius: 50%;
		padding: 0.5rem;
		transition: background-color 0.15s ease;
	}

	&:hover {
		img {
			background-color: fade-out(white, 0.95);
		}
	}
}
.btn-reg {
	&:active,
	&:focus {
		outline-color: none;
		border-color: var(--c-blue);
		background-color: var(--c-grey2);
	}
}
