@import '@/styles/component';

.btn {
  margin: 0;
  text-decoration: none;
  background: none;
  border: solid thin var(--c-border);
  color: var(--c-text);
  font-size: 1.05rem;
  // text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  padding: 0.75rem 1.25rem;
  outline: none;
  transition: box-shadow 0.3s ease, border 0.2s ease;

  &:hover {
    border-color: var(--c-border-dark);
    background-color: var(--c-grey1);
  }

  &:active,
  &:focus {
    background-color: white;
    border-color: var(--c-blue);
    @include active-shadow;
  }

  &:active {
    background-color: var(--c-grey2);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.with-icon {
    display: flex;
    align-items: center;
    padding-left: 1.1rem;

    i {
      font-size: 1rem;
      margin-right: 0.45rem;
    }
  }

  &--sm {
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem;
  }

  &.btn-primary {
    border-color: var(--c-blue);
    background-color: var(--c-blue);
    color: white;

    &:active,
    &:focus {
      background-color: darken(#2296f3, 10);
      box-shadow: 0 0 0 2px var(--c-blue-dark);
    }
  }
}

.btn.btn-icon-circle {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  i {
    font-size: 2rem;
  }

  &.nb {
    border: none !important;
  }

  &:not(.flat) {
    box-shadow: 0 1px 3px fade-out(black, 0.75);
  }

  &:active,
  &:focus {
    background-color: white;
    border-color: var(--c-blue);
    @include active-shadow;
  }

  &:active {
    background-color: var(--c-grey2);
  }
}

.btn.btn-thumb {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  padding: 0;
  background-color: transparent;

  i {
    font-size: 2rem;
  }
}

.dark {
  .btn {
    color: white;
    border-color: var(--c-border-dm);

    &:hover {
      background-color: fade-out(white, 0.9);
    }

    &:active,
    &:focus {
      background-color: fade-out(white, 0.8);
    }
  }

  .btn-icon-circle {
    color: white !important;
    background-color: var(--c-grey8);
    border-color: var(--c-grey7);

    &:hover {
      background-color: var(--c-grey7);
    }

    &:active,
    &:focus {
      background-color: var(--c-grey6);
    }
  }
}
