@import '@/styles/component';

.icon-btn {
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	padding-top: 0.4rem;
	transition: background-color 0.1s ease, box-shadow 0.2s ease;
	outline: none;

	&:hover {
		background-color: var(--c-grey1);
	}

	&:active,
	&:focus {
		background-color: var(--c-grey2);
		@include active-shadow;
	}
}

.dark .icon-btn {
	img {
		filter: invert(1);
	}

	&:hover {
		background-color: fade-out(white, .9);
	}

	&:active,
	&:focus {
		background-color: fade-out(white, .8);
		@include active-shadow;
	}
}