@import './reset.scss';
@import './transitions.scss';
@import './variables.scss';
@import './hamburgers.css';
@import './checkbox.scss';
@import './buttons.scss';

body {
	overflow-x: hidden;
	overflow-y: auto;
}

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}
}

.no-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.max-char {
	max-width: var(--max-char);
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 1rem;
}

.mb-3 {
	margin-bottom: 1.5rem;
}

.mb-4 {
	margin-bottom: 2rem;
}

.mb-5 {
	margin-bottom: 2.5rem;
}

.mb-6 {
	margin-bottom: 3.5rem;
}

.mb-10 {
	margin-bottom: 4rem;
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&:not(.thin) {
		font-weight: var(--bold);
	}

	&.thin {
		font-weight: var(--thin);
	}

	&.italic {
		font-style: italic;
	}
}

p {
	font-size: 1.05rem;
	font-weight: var(--thin);
	line-height: var(--line-height);
	color: var(--c-grey8);
}

hr {
	border: none;
	border-top: solid thin var(--c-border);
}

.block-seperator {
	width: 2rem;
	height: 4px;
	background-color: black;
}

button {
	display: inline-block;
	border: none;
	margin: 0;
	text-decoration: none;
	background: none;
	color: var(--c-text);
	font-size: 1rem;
	cursor: pointer;
	text-align: center;

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.button {
	border: solid thin var(--c-border);
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text {
	color: var(--c-text);
}

.text-secondary {
	color: var(--c-text-light);
}


.page {
	padding: 4rem 3rem;
}

@media only screen and (max-width: 768px) {
	.page {
		padding: 0.5rem 1rem 2rem;
	}
}

.max-width-container {
	max-width: 900px;
	margin: 0 auto;
}

// input
.input-field {
	display: flex;
	flex-direction: column;

	label {
		display: block;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	input,
	textarea {
		display: block;
		height: 45px;
		border-radius: 3px;
		border: solid thin var(--c-border);
		font-size: 1rem;
		padding: 0 0.75rem;

		&:focus {
			border: solid thin var(--c-blue);
			outline: none;
			box-shadow: 0 0.28rem 0.6rem fade-out(black, 0.9);
		}

		&.sm {
			width: 350px;
		}

		&.lg {
			padding: 0.75rem;
			width: 450px;
			height: 150px;
		}
	}
}

.card {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 4px;
}

.white-bg {
	background-color: #fff;
}

// dark mode
.dark {
	.text {
		color: var(--c-text-dm);
	}

	.text-secondary {
		color: var(--c-text-light-dm);
	}

	.white-bg {
		background-color: var(--c-dark);
	}

	.card {
		background-color: var(--c-grey8);
	}
}