// fade
.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// fade-down
.fade-down-enter-active,
.fade-down-leave-active {
	transition: all 0.75s ease;
}

.fade-down-enter,
.fade-down-leave-to {
	opacity: 0;
	transform: translateY(-2rem);
}

// fade-down-left
.fade-down-left-leave-active {
	transition: all 0.5s cubic-bezier(.42, .02, 1, .4);
}

.fade-down-left-enter-active {
	transition: all 0.75s cubic-bezier(0, .48, .28, .99);
}

.fade-down-left-enter,
.fade-down-left-leave-to {
	opacity: 0;
	transform: translateX(-3rem);
}

// photo
.photo-enter-active {
	transition: all 0.1s ease;
}

.photo-leave-active {
	transition: all 0.25s ease;
}

.photo-enter,
.photo-leave-to {
	opacity: 0;
	transform: scale(.9);
}